.poster {
    min-height: 640px;
    background: url('../../images/poster-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.poster::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(7, 15, 25, 0.75);
    position: absolute;
}

.poster__title {
    color: var(--whiteColor);
    font-family: 'Montserrat';
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    z-index: 1;
    position: relative;
}

.poster__descr {
    color: rgb(200, 200, 200);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: justify;
    max-width: 570px;
    z-index: 1;
    position: relative;
    margin-bottom: 50px;
    margin-top: 30px;
}

.poster__btns {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 30px;
}

.poster__btn {
    border: none;
    outline: none;
    padding: 18px 48px;
    border-radius: 4px;
    transition: .5s;
}

.poster__btn span {
    color: var(--whiteColor);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: justify;
}

.poster__btn:hover {
    background: transparent !important;
}

.poster {
    display: flex;
}

.poster__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.films {
    padding: 60px 0;
}

.films__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
}

.films__cards-item {
    position: relative;
    max-width: max-content;
    border-radius: 6px;
    overflow: hidden;
}

.films__cards-item::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(180.00deg, rgba(241, 129, 40, 0.35), rgba(0, 0, 0, 0.71) 51.042%, rgba(7, 15, 25, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.films__cards-item img {
    transition: .5s;
}

.films__cards-item:hover img {
    transform: scale(1.1);
}

.films__cards-item-bg {
    position: absolute;
    opacity: 0;
    height: 100%;
    left: 0;
    max-width: 1000px;
    transform: translate(-35%, 0);
    transition: .5s;
    z-index: -2;
}

.films__cards-item:hover .films__cards-item-bg {
    z-index: 5;
    opacity: 1;
}

.films__cards-item-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5;
}

.films__cards-item:hover .films__cards-item-content {
    transform: scale(5);
    opacity: 0;
}

.films__cards-item-content-time {
    color: var(--whiteColor);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    padding: 7px 28px;
    border: 1px solid var(--whiteColor);
    border-radius: 9px;
    background: rgba(7, 15, 25, 0.2);
    margin-top: 12px;
}

.films__cards-item-content-time span {
    animation: time 1s infinite linear;
}

@keyframes time {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.films__cards-item-content-title {
    color: var(--whiteColor);
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 12px;
}

.films__cards-item-content-descr {
    color: var(--whiteColor);
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    max-width: 226px;
}

.trailer {
    padding-top: 42px;
    padding-bottom: 80px;
    background: linear-gradient(90.00deg, rgb(222, 247, 255), rgb(244, 252, 255) 45.639%, rgba(255, 255, 255, 0) 100.721%);
    position: relative;
}

.poster__descr {
    color: rgb(0, 0, 0);
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: justify;
    max-width: 558px;
    margin: 55px 0;
}

.trailer__bg {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    right: 0;
}

.colections {
    padding: 60px 0;
}

.colections__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.colections__cards-item {
    position: relative;
    max-width: max-content;
}

.colections__cards-item::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(270.00deg, rgba(7, 15, 25, 0.56), rgba(49, 114, 9, 0.56) 100%);
    position: absolute;
}

.colections__cards-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colections__cards-item-title {
    color: var(--whiteColor);
    font-family: 'Comfortaa';
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.colections__cards-item-decor {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colections__cards-item-decor-item {
    width: 20px;
    height: 25px;
    display: block;
    background: var(--primaryColor);
    border-radius: 2px;
    position: relative;
}

.colections__cards-item-decor-item::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: var(--primaryColor);
    border-radius: 2px;
    position: absolute;
    left: 312px;

}

.series__content-item {
    max-width: max-content;
    display: flex;
}

.series__content-item img{
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}


.series__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 190px;
    gap: 30px;
}

.series__content-item:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.series__content-item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
}
